* {
    margin: 0;
    padding: 0;
    box-sizing: 'border-box'
  }

  *::after {
    box-sizing: border-box
  }

  *::before {
    box-sizing: border-box
  }

  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .wrapper {
    width: 100%;
    height: 165px;
    position: relative;
  }

  .paper>button {
    position: fixed;
    padding: 10px;
  }

  .paper>.slow {
    right: 30px;
    top: 30px;
  }

  .paper>.normal {
    right: 30px;
    top: 80px;
  }

  .paper>.fast {
    right: 30px;
    top: 130px;
  }

  .active {
    background: yellow;
  }